<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90c9c3">  <td>19/09/19 11:40:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test26CMSGraceDay.IngresoAmbiente()[pri:0, instance:test.Test26CMSGraceDay@3e6fa38a]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>19/09/19 11:40:35</td>   <td>7602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test26CMSGraceDay.CMSGraceDayEditar()[pri:56, instance:test.Test26CMSGraceDay@3e6fa38a]">CMSGraceDayEditar</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>19/09/19 11:40:55</td>   <td>27453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test26CMSGraceDay.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test26CMSGraceDay@3e6fa38a]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>19/09/19 11:40:58</td>   <td>30990</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test26CMSGraceDay.CloseChrome()[pri:0, instance:test.Test26CMSGraceDay@3e6fa38a]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
</table>
